<div class="container">
  <h2 class="color-header-for-form m-3"> My Bookings</h2>

  <div class="cards">
    <% @bookings.each do |booking|%>
      <% place = booking.place %>
        <div class="card-trip-history">
        <% if place.photos.attached? %>
            <%= cl_image_tag(place.photos.first.key, width: 400, height: 300, crop: :fill) %>
          <% else %>
            <img src= "https://imagelocations-laravel.s3.us-west-1.amazonaws.com/media/261386/conversions/desktop-webp-medium.webp">
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to place.title, place_path(place)  %></h2>
              <p><%= place.description %></p>
            </div>
            <div class="booking dates">
              <h2>You have booked</h2>
              <p>From: <%= booking.start%></p>
              <p>Until: <%= booking.end %></p>
            </div>
            <h2 class="card-trip-pricing">ลรง <%= place.price %></h2>
          </div>
          <%= link_to "Cancel Booking",
                  booking_path(booking.id),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
    <% end %>
  </div>
</div>
