<div class="container">
  <div class="cards">
    <% places.each do |place|%>
        <div class="card-trip">
        <% if place.photos.attached? %>
          <%= cl_image_tag(place.photos.first.key, width: 400, height: 300, crop: :fill) %>
          <% else %>
          <img src= "https://imagelocations-laravel.s3.us-west-1.amazonaws.com/media/261386/conversions/desktop-webp-medium.webp">
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to place.title, place_path(place)  %></h2>
              <p><%= place.description %></p>
            </div>
            <% if params[:controller]=="bookings" %>
              <%= link_to "Cancel",
                  bookings_path(place.bookings.where(user_id: current_user).first.id),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                  class: "btn btn-flat btn-sm" %>
            <% end %>
            <h2 class="card-trip-pricing">€<%= place.price %></h2>
            <img src="https://i.pinimg.com/564x/f5/c8/ed/f5c8eded4d6174ebcf6ed3de287b983c.jpg" class="card-trip-user avatar-bordered" />
          </div>
        </div>
    <% end %>
  </div>
</div>
