<div class="container mt-5">
  <h1>Edit Place</h1>

  <div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <div class="containerm-4 p-3 border .rounded-2 container-look">
    <h2 class="color-header-for-form">Tell us about your place</h2>
      <%= simple_form_for @place do |f| %>
        <%= f.input :title %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :specification %>
        <%= f.input :price %>
        <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
        <%= f.submit "Save", class: "btn btn-primary"%>
      <% end %>

      <div class="m-2 text-primary"> <%= link_to " Back to places", places_path %> </div>
    </div>
  </div>
</div>

  <%= link_to " Back to places", places_path %>

</div>
