<h1>Create a new Place🎃</h1>

<%= simple_form_for @place do |f| %>
  <%= f.input :title %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Save", class: "btn btn-primary"%>

<% end %>

<%= link_to " Back to places", places_path %>
